{% extends 'catalog/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col fw-bold">Asset</div>
            <div class="col-10">{{ asset.id }}</div>
            <div class="w-100"></div>
            <div class="col fw-bold">Title</div>
            <div class="col-10">{{ asset.title }}</div>
            <div class="w-100"></div>
            <div class="col fw-bold">Description</div>
            <div class="col-10">{{ asset.description }}</div>
            <div class="w-100"><a class="link" href="{% url 'asset_search_results' %}">New Search</a></div>
        </div>
    </div>
{% endblock %}
